// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #eee !default;
$header-bg-color: #a50d09 !default;
$header-bg-color-secondary: #370403!default;

// Text
$section-headings-color: #eee !default;
$body-text-color: #eee !default;
$body-bg-color: #484043 !default;
$body-link-color: #a50d09 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
